/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1e1e2e;
  color: #fff;
  text-align: center;
}

h2 {
  padding-bottom: 5px;
  font-size: 24px;
}

.form {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 450px;
}

#password {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #444;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #383b4a;
  color: #fff;
}

#generate {
  background: #00aaff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;

}
#copy{
  background: linear-gradient(45deg, #00aaff, #7e6ee7);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;

  margin-top: 5px;
}

#generate:hover {
  background: #0088cc;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  font-size: 14px;
  font-size: 18px;
}

input[type="checkbox"],
input[type="number"] {
  accent-color: #00aaff;
}

#length {
  width: 60px;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #444;
  background: #383b4a;
  color: #fff;
}

