* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background-color: #1e1e2e;

}

#content{
  color: white;
  text-align: center;
}
header{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;

  margin: 20px 0;
}

.buttons{
  display: flex;
  gap: 10px;

  margin: 10px 0;
}

.buttons button{
  background: #00aaff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.buttons button:hover {
  background: #0088cc;
}